html,
body,
div {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  background: #312450;
}

.noGoogleDrive {
  text-align: center;
  color: #ffffff;
}

.noGoogleDrive a {
  color: #b74e91;
  text-shadow: 0px 0px 2px #ffffff;
  font-weight: bold;
}
